
.container {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #f0f0f0;
}

.box {
  position: absolute;
  width: 30%; /* 30% width of the container */
  height: 100px;
  background-color: #fff307;
}

.left-box {
  left: 10%; /* 10% from the left of the container */
}

.right-box {
  right: 10%; /* 10% from the right of the container */
}


.row {
  display: flex;
  justify-content: space-between;
}

.right-row {
  display: grid;
  grid-template-columns: repeat(4, 0.2fr);
  /* grid-gap: 8px; */
  justify-items: center; /* Center align items horizontally within the grid columns */
}




.row {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 10px -10px;
  width: auto; /* Adjust as needed to fit the content */
}

.seat-grid {
  display: grid;
  grid-template-columns: repeat(5, 28px); /* Fixed width for each column */
  grid-auto-rows: 20px; /* Fixed height for each row */
/* Spacing between grid items */
  width: calc(5 * 10px + 4 * 10px);
}

.seat-gridsec {
  display: grid;
  grid-template-columns: repeat(13, 13.8px); /* Fixed width for each column */
  grid-auto-rows: 10.5px; /* Fixed height for each row */
/* Spacing between grid items */
  width: calc(13 * 5px + 12 * 15px); /* Total width of the grid */
  margin-right: 50px; /* Fixed space between the two grids */
}
.seat-grid-seq {
  display: grid;
  flex-direction: column-reverse;
/* Fixed width for each column */
  margin-right: 20px;
}
button.seat, button.rightrowseat {
  width: 100%; /* Make buttons fill the grid cell */
  height: 100%; /* Make buttons fill the grid cell */
}

.new-seat{
  display: grid;
  grid-template-columns: repeat(5, minmax(40px, 1fr));
}

/* .seat-gridsec{
  display: grid;
  grid-template-columns: repeat(13,minmax(10px, 0.7fr));
  grid-template-rows: repeat(1,minmax(10px, 0.6fr));
} */
.left-row {
  height: 25px;
  display: grid;
  grid-template-columns: repeat(2, 0.8fr);
  grid-gap: 20px;
  justify-content: space-around;
}
.seven-left-row {
  height:90px;
  display: grid;
  grid-template-columns: repeat(2, 4fr);
  grid-template-rows: repeat(2,4fr);/* 2 columns in the row */
  justify-content: space-around;
}
.group-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(20px, 1fr)); /* Each group has 2 columns */
  grid-template-rows: repeat(1, minmax(28px, 1fr));
 /* Spacing between columns in the group */
}

.small-grid {
  grid-template-columns: repeat(2, 3fr);
  grid-template-rows: repeat(1, 0.8fr);
}

.small-grid-virtic {
  grid-template-columns: repeat(2, 14px);
  grid-template-rows: repeat(4,11px);/* Keeping the row height the same */
}
/* Ensure the content remains fixed-width on mobile screens */
@media (max-width: 2000px) {
  .fixed-width-middle{
    width: 500px; /* Keep the row fixed at 1000px */
    overflow-x: auto; /* Allow horizontal scrolling if the screen is too narrow */
  }
  /*.seat-gridsec {*/
  /*  display: grid;*/
  /*  grid-template-columns: repeat(13, 13.8px); !* Fixed width for each column *!*/
  /*  grid-auto-rows: 10.5px; !* Fixed height for each row *!*/
  /*  !* Spacing between grid items *!*/
  /*  width: calc(13 * 5px + 12 * 15px); !* Total width of the grid *!*/
  /*  margin-right: 50px; !* Fixed space between the two grids *!*/
  /*}*/
}

.center-wrapper {
  display: flex;
  justify-content: space-between; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  width: 100%; /* Ensures the wrapper takes full width */
}

.admin-booked-seat {
  background-color:  #6c757d;/* Example color for admin booked seats */
}
.thirdrownew-seat-grid-left{
  display: grid;
  grid-template-columns: repeat(6,28px); /* Increased column width from 1fr to 2fr */
  grid-template-rows: repeat(2,minmax(20px, 0.8fr));
}
.colorseat{
  background-color: #fff307;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid transparent; /* Set to transparent */
  box-shadow: 0 0 0 0.5px black;
  font-size: 5px;
}
.regular-booked-seat {
  background-color: #fff307; /* Example color for regular booked seats */
}
.thirdrownew-seat-grid-right{
  display: grid;
  grid-template-columns: repeat(5,28px); /* Increased column width from 1fr to 2fr */
  grid-template-rows: repeat(2,minmax(20px, 0.8fr));
}
.thirdRow-seat-grid-left{
  display: grid;
  grid-template-columns: repeat(6,28px); /* Increased column width from 1fr to 2fr */
  grid-template-rows: repeat(2,minmax(20px, 0.8fr));

}
.lastRow{  display: flex;
height: 40px;
}
.lastRow-seat-grid-left{
  display: grid;
  grid-template-columns: repeat(2, minmax(125px, 2fr));
  grid-template-rows: repeat(1, minmax(80px, 2fr));
}
.lastRow-seat-grid-middel{
  display: grid;
  grid-template-columns: repeat(2, minmax(125px, 2fr));
  grid-template-rows: repeat(4, minmax(80px, 2fr));
}
.thirRow-seat-grid-left{
  display: grid;
  grid-template-columns: repeat(4,28px); /* Increased column width from 1fr to 2fr */
  grid-template-rows: repeat(2,minmax(20px, 0.8fr));

}
.fourRow-seat-grid-left{
  display: grid;
  grid-template-columns: repeat(7,28px); /* Increased column width from 1fr to 2fr */
  grid-template-rows: repeat(2,minmax(20px, 0.8fr));
}
.fourthRow-seat-grid-left{
  display: grid;
  grid-template-columns: repeat(7, minmax(20px, 1fr)); /* Increased column width from 1fr to 2fr */
  grid-template-rows: repeat(2,minmax(30px, 1fr));
}
.left-third-row{
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Each group has 2 columns */
  grid-template-rows: repeat(2, 1fr);
}
.seat {
  background-color:#fff307;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid transparent; /* Set to transparent */
  box-shadow: 0 0 0 0.5px black;
  font-size: 5px;
}
.lastseats{
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid transparent; /* Set to transparent */
  box-shadow: 0 0 0 0.5px black;
  font-size: 10px;
}
.right-third-row{
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Each group has 2 columns */
  grid-template-rows: repeat(2, 1fr);
}

.rightrowseat{
  background-color: #fff307;
  color: black;
  font-size: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid transparent; /* Set to transparent */
  box-shadow: 0 0 0 0.5px black;
}
.rightrowseat-top{
  background-color: #fff307;
  color: black;
  font-size: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid transparent; /* Set to transparent */
  box-shadow: 0 0 0 0.5px black;
  width: 10.5px;
}
::ng-deep.mat-mdc-tooltip-trigger.rightrowseat-top.not-booked {
  width: 12.5px !important;
}
.green-box {
  width:60px; /* Adjust the width as needed */
  height: 60px; /* Adjust the height as needed */
  background-color: #fff307;
  border: 0.5px solid transparent; /* Set to transparent */
  box-shadow: 0 0 0 0.5px black;
  margin-top: -20px;
}
.sixRow-seat-grid-right{
display:grid;
grid-template-columns: repeat(2,3fr);
grid-template-rows: repeat(1,3fr);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Two columns of equal width */
  grid-template-rows: auto auto;
  /* Two rows with height based on content */
  width: 152px;
  height: 60px;
  /* Set the height for the entire grid */
}
.fiveRow-seat-grid-left{
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(2, 2fr);
}
.sevenRow-seat-grid-left{
  display: flex;
  justify-content: space-between;

}
/* First column spans both rows */
.box-1 {
  grid-column: 1; /* Position in the first column */
  grid-row: 1 / span 2; /* Span across two rows */
  background-color: #fff307;
}

/* Second column, first row */
.box-2 {
  grid-column: 2; /* Position in the second column */
  grid-row: 1; /* Occupies the first row */
  background-color: yellow;
}

/* Second column, second row */
.box-3 {
  grid-column: 2; /* Position in the second column */
  grid-row: 2; /* Occupies the second row */
  background-color: yellow;
}
.sevnRow{
  display: flex;
  height: 40px;
}
.sevbox-1{
  background-color: #fff307;
  width:45px;
  border:1px solid black;
}
.sevbox-2{
  background-color: #fff307;
  width:52px;
  border:1px solid black;
}
.sevbox-3{
  background-color: #fff307;
  width:52px;
  border:1px solid black;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid transparent; /* Set to transparent */
  box-shadow: 0 0 0 0.5px black;

  color: white;
}
.gridbox{
  display: flex;
  border: 0.5px solid transparent; /* Set to transparent */
  box-shadow: 0 0 0 0.5px black;
  justify-content: center;
  align-items: center;
  color: white;
}
.bbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid transparent; /* Set to transparent */
  box-shadow: 0 0 0 0.5px black;
  color:black;
}

.sixRow-seat-grid-left{
  display:grid;
  grid-template-columns: repeat(2,3fr);
  grid-template-rows: repeat(1,3fr);
  }
.merron-box{
  display: grid;
  grid-template-columns: repeat(2,28px );
  grid-template-rows: repeat(1,10px);
  background-color: #fff307;
  border: 0.5px solid transparent; /* Set to transparent */
  box-shadow: 0 0 0 0.5px black;
  align-content: center;
}

.fiveRow-seat-grid-left{
  display: grid;
  grid-template-columns: 2fr 2fr 0.5fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 185px;
  height: 55px;
  gap: 0;
}
.newseatnew{
  background-color:#fff307;
  font-size: 5px;
  color:#000;
  border: 0.5px solid transparent; /* Transparent border to avoid visual overlap */
  box-shadow: 0 0 0 0.5px black;
}
.newseatnew:nth-child(3n+1) {
  grid-column: 1; /* First column */
  grid-row: span 1;

   /* Occupies one row */
}

.newseatnew:nth-child(3n+2) {
  grid-column: 2; /* Second column */
  grid-row: span 1; /* Occupies one row */
}

.newseatnew:nth-child(3n) {
  grid-column: 3; /* Third column */
  grid-row: span 2; /* Spans across both rows */
}

.mixed{
  display: flex;
}

.box-new {
  background-color: #fff307;
  padding: 20px;
  border: 1px solid #dee2e6;
  text-align: center;
}
.forthRow-middel-seat-grid{
  color: #fff307;
  height:40px;
  width:80px;
}
.thirdRow-seat-grid-right{
  display: grid;
  grid-template-columns: repeat(5, minmax(50px, 2fr)); /* Increased column width from 1fr to 2fr */
  grid-template-rows: repeat(2,minmax(40px, 2fr));
}
.marAll {
  margin: 35px;
}
.marRowOne{
  margin:10px 10px 20px 10px;
}
.container-fullscreen{

}

.virtical-distance{
  position: relative;
  width: 1px;
  height: 40px;
  background-color: black;
  margin-bottom: 30px;
  align-items: flex-end;
}
.virtical-distance span{
  left:5px;
  top:50%;
  transform: translateY(-50%);
  font-size: 12px;
  color:#555
}
.seatnew{
  background-color:yellow;
  color: rgb(11, 11, 11);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid transparent; /* Set to transparent */
  box-shadow: 0 0 0 0.5px black;
  height: 100%;
  width: 100%;
}

.seatfn{
  background-color:yellow;
  color: rgb(11, 11, 11);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  border: 0.5px solid transparent; /* Set to transparent */
  box-shadow: 0 0 0 0.5px black;
}

.booked-seat {
  background-color: rgb(79, 62, 62); /* or any color you want to indicate a booked seat */
}

.available-seat {
  background-color:yellow /* or any color you want to indicate an available seat */
}
.onegrid-container{
  display: grid;
  grid-template-columns: repeat(1,55px); /* Two columns, each occupying 2fr */
  grid-template-rows: repeat(1,55px) ;
}
.lastonegrid-container{
  display: grid;
  grid-template-columns: repeat(2,75px); /* Two columns, each occupying 2fr */
  grid-template-rows: repeat(1,55px) ;



}
.col-md-2, .col-md-8 {
  flex-grow: 0; /* Prevent growing */
  flex-shrink: 0; /* Prevent shrinking */
  width: 200px; /* Set a fixed width for columns */
}

.rownew {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.line-texts{
  position: absolute;
  left: -15px; /* Adjust the position of the text */
  background-color: #f8f9fa; /* Optional: Match the background color */
  /* padding: 0 5px; */
  /* transform: translate(-50%, -50%) rotate(-90deg); / */
  /* font-weight: bold; */
}

.fixed-line {
  display: flex;
  position: relative;
}

.line {
  width: 100px; /* Fixed width for the line */
  height: 2px;
  background-color: black;
}

.line-text {
  margin-left: 4px;
}

.line-items:first-child {
  left: 20px; /* Adjust as per your layout */
}

.line-items:last-child {
  right: 20px; /* Adjust as per your layout */
}

.lastonegrid-container-middel{
  display: grid;
  grid-template-columns: repeat(4,40px); /* Two columns, each occupying 2fr */
  grid-template-rows: repeat(1,30px) ;
  margin-top: 22px;
  /* align-content: last baseline; */
}
.lastonegrid-container-last{
  display: grid;
  grid-template-columns: repeat(2,75px); /* Two columns, each occupying 2fr */
  grid-template-rows: repeat(1,30px) ;
  margin-top: 22px;

}
.lastonegrid{
  background-color:#fff307;
  border: 0.5px solid transparent; /* Set to transparent */
  box-shadow: 0 0 0 0.5px black; /* Example border */
  text-align: center;
}
.newgrid-container {
  display: grid;
  grid-template-columns: repeat(2, 40px);
  grid-template-rows: repeat(2, 30px);
  /* Two rows, each occupying 2fr *//* Optional: Space between grid items */
}

.grid-item {
  background-color:#fff307; /* Example background color */
  border: 0.5px solid transparent; /* Set to transparent */
  box-shadow: 0 0 0 0.5px black; /* Example border */
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5px;
}

.popover {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.booked-by-admin {
  background-color: rgb(147, 142, 142) !important; /* Example color for admin bookings */
}

.booked-by-user {
  background-color: rgb(188, 46, 10) !important; /* Example color for user bookings */
}
.newgrid-item{
  background-color:#fff307; /* Example background color */
  border: 0.5px solid transparent; /* Set to transparent */
  box-shadow: 0 0 0 0.5px black; /* Example border */
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5PX;
}

/* .lastonegrid-container-middel{
align-self:end;
} */
.first-div {
  display: grid;
  grid-template-columns: 2fr 2fr; /* 2 columns with 4fr each *//* Optional: Space between grid items */
}

.second-div {
  display: grid;
  grid-template-columns: repeat(4, 2fr); /* 4 columns with 2fr each */

}

.third-div {
  display: grid;
  grid-template-columns: 4fr 4fr; /* 2 columns with 4fr each */
}
.nthgrid-item {
  background-color: #fff307; /* Example background color */
  border: 0.5px solid transparent; /* Set to transparent */
  box-shadow: 0 0 0 0.5px black; /* Example border */
  padding: 20px;
  text-align: center;
}

/* .line-container {
  position: relative;
  display: flex;
  margin-bottom: -20px;
}

.line {
  width: 2px;
  height: 44px;
  background-color: black;
  position: relative;
  top: -20px;
}

.line-text {
  top: 15px;
  font-size: 14px;
  color: black;
  margin-left: 8px;
} */

.lines-container {
  position: relative;
  display: flex;
  justify-content: space-around;
}

/* .line-item {
  position: relative;
  display: flex;
  margin-top: -20px;
} */

.line {
  width: 2px;
  height: 40px;
  background-color: black;
  color: black;
  /* padding-top: 10px; */
}

.line-text {
  font-size: 14px;
  color: black;
  padding-top: 10px;
}

.vertical-line-container {
  display: flex;
  justify-content: space-around;
  margin: 0px 35px;
  height: 60px; /* Adjust the height as needed */
  /* padding-right: 130px; */
}

.vertical-line-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.vertical-line {
  width: 2px;
  height: 100%; /* This makes the line fill the height of its container */
  background-color: black;
  position: relative;
}

.vertical-line-text {
  position: relative;
  display: inline-block;
  background-color: white;
  padding: 0 5px;
  z-index: 1;
  margin-top: -10px; /* Adjust as needed to align with the center of the line */
}
::ng-deep.mat-mdc-tooltip {
  transform: scale(4);
  font-size: 220px !important;
  height: 70px !important;
  min-width: 240px !important;
  padding: 10px !important;
}

::ng-deep button:focus {
  outline: none; /* Disable the focus outline */
  border: none !important; /* Ensure no border is applied */
}
